{% extends 'adminpage/layout/base.html' %}
{% load adminpage_tags %}

{% block content %}
  <div class="page-content container">
    <div class="page-header border-0 pb-3">
      <h1 class="page-title text-primary-d2 text-150">
        {{ request.path|getUrlSegment:2 }}
        <small class="page-info text-secondary-d2 text-nowrap">
          <i class="fa fa-angle-double-right text-80"></i>
          {{ request.path|getUrlSegment:3 }}
        </small>
      </h1>

      <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
        <!-- dataTables search box will be inserted here dynamically -->
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-sm-12 mt-3 mt-sm-0 cards-container">
        <div class="card dcard overflow-hidden">
          <div class="border-t-3 w-100 brc-primary-m1 radius-t-1"></div>
          <div class="card-header">
            <h5 class="card-title text-110 text-primary-d2 pt-1">
              Form
            </h5>

            <div class="card-toolbar no-border">
              <a href="#" data-action="expand" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-success mx-2px d-style">
                <i class="fa fa-expand d-n-active"></i>
                <i class="fa fa-compress d-active"></i>
              </a>

              <a href="#" data-action="toggle" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-default mx-2px">
                <i class="fa fa-chevron-up w-2 mx-1px"></i>
              </a>

              <!-- <a href="#" data-action="close" class="card-toolbar-btn btn btn-sm radius-1 btn-outline-danger mx-2px">
                <i class="fa fa-times w-2 mx-1px"></i>
              </a> -->
            </div>
          </div><!-- /.card-header -->

          <form method="post" class="mt-lg-3" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body bg-white p-0">

              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.email.id_for_label }}" class="mb-0">
                    {{ formsignup.email.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formsignup.email.name }}" id="{{ formsignup.email.id_for_label }}" placeholder="{{ formsignup.email.name }}" value="{{ formsignup.email.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none" required/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.email.label_tag }}
                  </span>
                </div>
              </div>



              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.username.id_for_label }}" class="mb-0">
                    {{ formsignup.username.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formsignup.username.name }}" id="{{ formsignup.username.id_for_label }}" placeholder="{{ formsignup.username.name }}" value="{{ formsignup.username.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none" required/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.username.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.first_name.id_for_label }}" class="mb-0">
                    {{ formsignup.first_name.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formsignup.first_name.name }}" id="{{ formsignup.first_name.id_for_label }}" placeholder="{{ formsignup.first_name.name }}" value="{{ formsignup.first_name.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none" required/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.first_name.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.last_name.id_for_label }}" class="mb-0">
                    {{ formsignup.last_name.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formsignup.last_name.name }}" id="{{ formsignup.last_name.id_for_label }}" placeholder="{{ formsignup.last_name.name }}" value="{{ formsignup.last_name.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none"/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.last_name.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.password1.id_for_label }}" class="mb-0">
                    {{ formsignup.password1.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="password" name="{{ formsignup.password1.name }}" id="{{ formsignup.password1.id_for_label }}" placeholder="{{ formsignup.password1.name }}" value="{{ formsignup.password1.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none" required/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.password1.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formsignup.password2.id_for_label }}" class="mb-0">
                    {{ formsignup.password2.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="password" name="{{ formsignup.password2.name }}" id="{{ formsignup.password2.id_for_label }}" placeholder="{{ formsignup.password2.name }}" value="{{ formsignup.password2.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none" required/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formsignup.password2.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formprofile.nip.id_for_label }}" class="mb-0">
                    {{ formprofile.nip.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formprofile.nip.name }}" id="{{ formprofile.nip.id_for_label }}" placeholder="{{ formprofile.nip.name }}" value="{{ formprofile.nip.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none"/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formprofile.nip.label_tag }}
                  </span>
                </div>
              </div>

              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formprofile.nidn.id_for_label }}" class="mb-0">
                    {{ formprofile.nidn.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formprofile.nidn.name }}" id="{{ formprofile.nidn.id_for_label }}" placeholder="{{ formprofile.nidn.name }}" value="{{ formprofile.nidn.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none"/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formprofile.nidn.label_tag }}
                  </span>
                </div>
              </div>

              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formprofile.surelluar.id_for_label }}" class="mb-0">
                    {{ formprofile.surelluar.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formprofile.surelluar.name }}" id="{{ formprofile.surelluar.id_for_label }}" placeholder="{{ formprofile.surelluar.name }}" value="{{ formprofile.surelluar.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none"/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formprofile.surelluar.label_tag }}
                  </span>
                </div>
              </div>

              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formprofile.nomorhp.id_for_label }}" class="mb-0">
                    {{ formprofile.nomorhp.label_tag }}
                  </label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <input type="text" name="{{ formprofile.nomorhp.name }}" id="{{ formprofile.nomorhp.id_for_label }}" placeholder="{{ formprofile.nomorhp.name }}" value="{{ formprofile.nomorhp.value|ifempty:'' }}" class="form-control col-sm-8 col-md-7 shadow-none"/>
                  <span class="floating-label text-grey-m3 text-80">
                    {{ formprofile.nomorhp.label_tag }}
                  </span>
                </div>
              </div>


              <div class="form-group row px-3">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="" class="mb-0">
                    Role
                  </label>
                </div>
                
                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <div class="col-sm-8 col-md-7 shadow-none p-0">
                    <select multiple="multiple" size="10" name="duallistbox_groups[]" id="group">
                      {% if groups %}
                      {% for data in groups %}
                        <option data-group="{{data.name}}" id="group-{{data.id}}" value="{{ data.id }}" {% if data.id in usergroups %}SELECTED{% endif %}>{{ data.groupdetails.alias }}</option>
                      {% endfor %}
                      {% endif %}
                    </select>

                  </div>
                </div>
              </div>


              <div class="form-group row px-3 d-none" id="div_adminticket">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="" class="mb-0">
                    Role Admin BPSDM
                  </label>
                </div>
                
                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <div class="col-sm-8 col-md-7 shadow-none p-0">
                    <select multiple="multiple" size="10" name="duallistbox_admintickets[]" id="adminticket">
                      {% if ticket_category %}
                      {% for data in ticket_category %}
                        <option value="{{ data.id }}" {% if data.id in useradmintickets %}SELECTED{% endif %}>{{ data.name }}</option>
                      {% endfor %}
                      {% endif %}
                    </select>

                  </div>
                </div>
              </div>              
              


              <div class="form-group row">
                <div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">
                  <label for="{{ formprofile.image.id_for_label }}" class="mb-0">{{ formprofile.image.label_tag }}</label>
                </div>

                <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
                  <div class="col-sm-8 col-md-7 shadow-none px-2">
                    <input type="file" class="ace-file-input" id="input_file" name="{{ formprofile.image.name }}" />
                  </div>
                </div>
              </div>
           

            </div><!-- /.card-body -->

            <div class="mx-n25 py-3 brc-dark-l3 d-flex border-t-1 bgc-secondary-l5 px-3">
              <div class="offset-md-3 col-md-9 text-nowrap">
                <button class="btn btn-warning btn-bold px-4" type="button" onclick="window.history.back();"><i class="fas fa-angle-left mr-1"></i> Cancel</button>

                <button class="btn btn-info btn-bold px-4" type="submit">
                  <i class="fa fa-check mr-1"></i>
                  Submit
                </button>
  
                <button class="btn btn-lightgrey btn-bold px-4" type="reset"><i class="fa fa-undo mr-1"></i>Reset</button>
              </div>
            </div><!-- /.card-footer -->
          </form>

        </div><!-- /.card -->
      </div><!-- /.col -->
    </div>

  </div>
{% endblock %}


{% block javascript %}
<script>

  $(document).ready(function(){
    // multiple with image preview
    $('#input_file').aceFileInput({
      style: 'drop',
      droppable: true,
      container: 'border-1 border-dashed brc-grey-l1 brc-h-blue-m2 shadow-sm',
      placeholderClass: 'text-90 text-600 text-grey-l1 my-2',
      placeholderText: 'Drop images here or click to choose',
      placeholderIcon: '<i class="fa fa-cloud-upload-alt fa-3x text-info-m2 my-2"></i>',
      //previewSize: 64,
      thumbnail: 'large',
      //allowExt: 'gif|jpg|jpeg|png|webp|svg',
      //allowMime: 'image/png|image/jpeg',
      allowMime: 'image/*',
      //maxSize: 100000,
    });
  });
</script>


<script>
  // duallist box selain group, yang group ada di javascript laman
  var demo1 = $('select[name="duallistbox_admintickets[]"]').bootstrapDualListbox({infoTextFiltered: '<span class="badge badge-purple badge-lg">Filtered</span>'});
  var container1 = demo1.bootstrapDualListbox('getContainer');
  container1.find('.btn').removeClass('btn-default').addClass('btn-xs btn-outline-info btn-h-outline-info btn-bold m-0')
  .find('.glyphicon-arrow-right').attr('class', 'fa fa-arrow-right').end()
  .find('.glyphicon-arrow-left').attr('class', 'fa fa-arrow-left')
</script>


<script>  
  const select_id = 'group'
  const group_name = 'bpsdm'

  function showAdminBPSDM(select_id, group_name) {
    //check is_bpsdm
    let is_bpsdm = false
    var selectedItems = $(`#${select_id}`).val();
    selectedItems.forEach(angka => {      
      if (document.getElementById(`group-${angka}`).dataset.group.toLowerCase() == group_name) {
        is_bpsdm = true
      }
    });       
    
    // show admin
    if (is_bpsdm) {
      document.getElementById('div_adminticket').classList.remove('d-none')
    }else{
      document.getElementById('div_adminticket').classList.add('d-none')
    }

  }

  // Add event listener for unselecting items
  $(`#${select_id}`).on('change', function(e) { 
    showAdminBPSDM(select_id, group_name)
  });  

  //initialize
  showAdminBPSDM(select_id, group_name)
  
</script>

{% endblock %}