{% load static %}
{% load adminpage_tags %}

<div class="col-12 mt-2">
	<div class="card dcard overflow-hidden border-1 w-100 brc-blue-m1 radius-t-1 p-2">
		<div class="card-header pl-0 pr-0">
			<h5 class="card-title text-110 text-primary-d2 pt-1">
				Proses Ajuan
			</h5>
		</div><!-- /.card-header -->
		<div class="card-body bg-white">
			{% if request.user|has_group:'bpsdm' %}
				<form action="{% url 'adminpage:ticketing.bpsdm.ajuan.edit_state' dataticket.id %}" method="POST">
					{% csrf_token %}
					<div class="row d-flex justify-content-center">
						<input type="hidden" name="in_process">
						<div class="col text-center">
							<button class="btn btn-success btn-bold px-4" type="submit"><i class="fas fa-check mr-1"></i>Proses Ajuan</button>
						</div>
					</div>
				</form>
			{% else %}
				<i class="fas fa-lock text-100 text-warning"></i>
				DSDMO harus mengubah ajuan menjadi In process terlebih dahulu untuk menuju langkah selanjutnya
			{% endif %}

		</div><!-- /.card-body -->
	</div>
</div>