    {% load static %}
    {% load adminpage_tags %}

    <script src="{% static 'template/node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'template/node_modules/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'template/node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'template/node_modules/sweetalert2/dist/sweetalert2.all.js' %}"></script>

    <script src="{% static 'template/dist/js/ace.min.js' %}"></script>


    {% if datatables %}
    <script src="{% static 'template/node_modules/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-colreorder/js/dataTables.colReorder.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-select/js/dataTables.select.js' %}"></script>


    <script src="{% static 'template/node_modules/datatables.net-buttons/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-buttons/js/buttons.html5.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-buttons/js/buttons.print.js' %}"></script>
    <script src="{% static 'template/node_modules/datatables.net-buttons/js/buttons.colVis.js' %}"></script>

    <script src="{% static 'template/node_modules/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'template/node_modules/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'template/node_modules/pdfmake/vfs_fonts.js' %}"></script>


    <script src="{% static 'template/node_modules/datatables.net-responsive/js/dataTables.responsive.js' %}"></script>
    <script>
        function get_list_id(tableid){
          var list_id = [];
          $(tableid).DataTable().rows({ selected: true }).every(function() {
            list_id.push($(this.node()).find('input:checkbox:checked').val())
          });
          return list_id;
        }


        function delete_list(url, list_id, errtxt='Choose items to delete' ,title='Are you sure?', text='You won\'t be able to revert this!', confbtntxt='Yes, delete it!'){
          if ( list_id != null && !Array.isArray(list_id) && !isNaN(list_id) ) {
            list_id = new Array(list_id)
          }

          if ( list_id == null || typeof list_id == "undefined" || !list_id.length ) {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: errtxt
            })
          } else {
            Swal.fire({
              title: title,
              text: text,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: confbtntxt
            }).then((result) => {
              if (result.value) {

                const form = document.createElement('form');
                form.method = 'post';
                form.action = url;
                
                const params = { 
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'list_id': list_id,
                }

                for (const key in params) {
                  if (params.hasOwnProperty(key)) {
                    if (key == 'list_id'){
                      for (let i = 0; i < params[key].length; i++) {
                        const hiddenField = document.createElement('input');
                        hiddenField.type = 'hidden';
                        hiddenField.name = key;
                        hiddenField.value = params[key][i];
                        form.appendChild(hiddenField);
                      }
                    } else {
                      const hiddenField = document.createElement('input');
                      hiddenField.type = 'hidden';
                      hiddenField.name = key;
                      hiddenField.value = params[key];
                      form.appendChild(hiddenField);
                    }
                  }
                }

                document.body.appendChild(form);
                form.submit();

              }
            });
          }
        }
    </script>
    {% endif %}


    {% if maxlength %}
    <script src="{% static 'template/node_modules/bootstrap-maxlength/dist/bootstrap-maxlength.js' %}"></script>
    {% endif %}

    {% if inputmask %}
    <script src="{% static 'template/node_modules/inputmask/dist/jquery.inputmask.js' %}"></script>
    {% endif %}
    
    {% if tinydatepicker %}
    <script src="{% static 'template/node_modules/tiny-date-picker/dist/date-range-picker.js' %}"></script>
    {% endif %}

    {% if moment %}
    <script src="{% static 'template/node_modules/moment/moment.js' %}"></script>
    {% endif %}
    
    {% if datetimepicker %}
    <script src="{% static 'template/node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js' %}"></script>
    {% endif %}
    
    {% if select2 %}
    <script src="{% static 'template/node_modules/select2/dist/js/select2.js' %}"></script>
    <script>
        $('.select2bs4').select2({ theme: 'bootstrap4' })
    </script>
    {% endif %}

    {% if chosen %}
    <script src="{% static 'template/node_modules/chosen-js/chosen.jquery.js' %}"></script>
    {% endif %}
    
    {% if dropzone %}
    <script src="{% static 'template/node_modules/dropzone/dist/dropzone.js' %}"></script>
    {% endif %}
    
    {% if summernote %}
    <script src="{% static 'template/node_modules/summernote/dist/summernote-lite.js' %}"></script>
    <script>
      // update icons for summernote example
      $.extend($.summernote.options.icons ,  {
        'align': 'fa fa-align',
        'alignCenter': 'fa fa-align-center',
        'alignJustify': 'fa fa-align-justify',
        'alignLeft': 'fa fa-align-left',
        'alignRight': 'fa fa-align-right',
        'indent': 'fa fa-indent',
        'outdent': 'fa fa-outdent',
        'arrowsAlt': 'fa fa-arrows-alt',
        'bold': 'fa fa-bold',
        'caret': 'fa fa-caret-down text-grey-m2 ml-1',
        'circle': 'fa fa-circle',
        'close': 'fa fa-close',
        'code': 'fa fa-code',
        'eraser': 'fa fa-eraser',
        'font': 'fa fa-font',
        'italic': 'fa fa-italic',
        'link': 'fa fa-link text-success-m1',
        'unlink': 'fas fa-unlink',
        'magic': 'fa fa-magic text-brown-m1',
        'menuCheck': 'fa fa-check',
        'minus': 'fa fa-minus',
        'orderedlist': 'fa fa-list-ol text-blue',
        'pencil': 'fa fa-pencil',
        'picture': 'far fa-image text-purple-d1',
        'question': 'fa fa-question',
        'redo': 'fas fa-redo',
        'square': 'fa fa-square',
        'strikethrough': 'fa fa-strikethrough',
        'subscript': 'fa fa-subscript',
        'superscript': 'fa fa-superscript',
        'table': 'fa fa-table text-danger-m2',
        'textHeight': 'fa fa-text-height',
        'trash': 'fa fa-trash',
        'underline': 'fa fa-underline',
        'undo': 'fa fa-undo',
        'unorderedlist': 'fa fa-list-ul text-blue',
        'video': 'far fa-file-video text-pink-m1'
      });
    </script>
    {% endif %}

    {% if fullcalendar %}
    <script src="{% static 'template/node_modules/bootbox/bootbox.all.js' %}"></script>
    <script src="{% static 'template/node_modules/fullcalendar/main.js' %}"></script>
    {% endif %}
    
    {% if photoswipe %}
    <script src="{% static 'template/node_modules/photoswipe/dist/photoswipe.js' %}"></script>
    <script src="{% static 'template/node_modules/photoswipe/dist/photoswipe-ui-default.js' %}"></script>
    {% endif %}

    {% if duallistbox %}
    <script src="{% static 'template/node_modules/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'template/node_modules/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.js' %}"></script>
    <script>
      // duallist box
      var demo1 = $('select[name="duallistbox_groups[]"]').bootstrapDualListbox({infoTextFiltered: '<span class="badge badge-purple badge-lg">Filtered</span>'});
      var container1 = demo1.bootstrapDualListbox('getContainer');
      container1.find('.btn').removeClass('btn-default').addClass('btn-xs btn-outline-info btn-h-outline-info btn-bold m-0')
      .find('.glyphicon-arrow-right').attr('class', 'fa fa-arrow-right').end()
      .find('.glyphicon-arrow-left').attr('class', 'fa fa-arrow-left')
    </script>
    {% endif %}

    {% if daterange %}
    <script src="{% static 'template/node_modules/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'template/node_modules/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    {% endif %}

    {% if countdown %}
    <script src="{% static 'template/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'template/dist/js/jquery.countdown.min.js' %}"></script>
    {% endif %}

    {% if messages %}
        <script>
            function notif(status, title, message, data=[]){
                let redirect;
                let confbtntxt='Check Data';
                let cnclbtntxt='Cancel';

                if (data){
                  if (data['redirect']){
                    redirect = data['redirect']
                  }
  
                  if (data['confbtntxt']){
                    confbtntxt = data['confbtntxt']
                  }
  
                  if (data['cnclbtntxt']){
                    cnclbtntxt = data['cnclbtntxt']
                  }
  
                  if (data['title']){
                    title = data['title']
                  }
                }

                if (status && title && message) {
                    if (!redirect || redirect == null || redirect == 'None') {
                        Swal.fire({
                            icon: status,
                            title: title,
                            html: message
                        })
                    } else {
                        Swal.fire({
                            icon: status,
                            title: title,
                            html: message,
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: confbtntxt,
                            cancelButtonText: cnclbtntxt
                        }).then((result) => {
                            if (result.value) {
                                window.location.replace(redirect);
                            }
                        });
                    }
                }
            }

            {% for msg in messages %}
                notif('{{ msg.level_tag }}', '{{ msg.level_tag }}', '{{ msg|safe }}', JSON.parse('{{ msg.extra_tags|JsonParseIsEmpty|safe }}'))
            {% endfor %}
        </script>
    {% endif %}

    <script>
      function setprofilesync(uniid){   
        const form = document.createElement('form');
        form.method = 'post';
        form.action = "{% url 'adminpage:setprofilesync' %}";
        
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'csrfmiddlewaretoken';
        hiddenField.value = '{{ csrf_token }}';
        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();

        // ===[Using Ajax]===
        // $.ajax({
        //   type: 'POST',
        //   url: "{% url 'adminpage:setprofilesync' %}",
        //   data: { 
        //     csrfmiddlewaretoken:'{{ csrf_token }}',            
        //   },
        //   dataType: 'JSON',
        //   success: function (data) {           
        //     Swal.fire({
        //         icon: data.status,
        //         title: data.status,
        //         html: data.message
        //     })
        //     location.reload();
        //   }
        // });
      }
    </script>